      <tr>
        <th colspan="3">
          <span class="deviceName"><%= @DEVICE %></span>
        </th>
      </tr>
      <tr>
        <td>
          <a href="<%= @SCREENSHOT %>" target="_blank" class="screenshotLink">
            <img class="screenshot" src="<%= @SCREENSHOT %>" style="width: 100%;" alt="<%= @LANGUAGE %> <%= @DEVICE %>" data-counter="1">
          </a>
        </td>
        <td>
          <a href="<%= @SCREENSHOT_GOLDEN %>" target="_blank" class="screenshotLink">
            <img class="screenshot" src="<%= @SCREENSHOT_GOLDEN %>" style="width: 100%;" alt="<%= @LANGUAGE %> <%= @DEVICE %>" data-counter="1">
          </a>
        </td>
        <td>
          <a href="<%= @SCREENSHOT_DIFF %>" target="_blank" class="screenshotLink">
            <img class="screenshot" src="<%= @SCREENSHOT_DIFF %>" style="width: 100%;" alt="<%= @LANGUAGE %> <%= @DEVICE %>" data-counter="1">
          </a>
        </td>
      </tr>